[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
tensorflow = "*"
streamlit = "*"
numpy = "*"
matplotlib = "*"
opencv-python-headless = "*"
scikit-image = "*"
jupyter = "*"

[dev-packages]

[requires]
python_version = "3.9"
